* {
    box-sizing: border-box;
}

body {
    font-family: courier;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    min-width: 320px;
}

.app {
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    background: none;
    font: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

input:focus {
    outline-color: blue;
}

.container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1600px;
}

.catalog__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.catalog__title {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
    animation: appearance 0.5s linear forwards;
}

.bold {
    font-weight: 700;
}

button:focus {
    outline: none;
}

button:focus-visible {
    outline: 2px solid #0363bc;
    outline-offset: 2px;
}

.catalog__selects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    animation: arrival-left .4s linear forwards;
    border-top: 2px solid slategray;
    border-bottom: 2px solid slategray;
}

.select {
    padding-top: 10px;
    padding-bottom: 10px;
}

.select:not(:last-child) {
    margin-right: 20px;
}

.select__list,
.select__item {
    cursor: pointer;
}

.select__list:focus-visible {
    outline-color: blue;
}

.select__list {
    padding: 5px;
    transition: box-shadow .15s linear;
}

.options {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid slategray;
    animation: arrival-right .4s linear forwards;
}

.options__label {
    margin-bottom: 10px;
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 60px;
    padding: 5px;
}

.options__push {
    display: flex;
    align-items: center;
}

.options__btn {
    margin-right: 10px;
    padding: 7px;
    background-color: #448ad4;
    color: white;
    transition: box-shadow .15s linear;
}

.tasks {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 0;
    display: grid;
    grid-template-columns: 1fr;
    animation: arrival-bottom .4s linear forwards;
}

.tasks__item {
    background-color: white;
}

.tasks__content {
    padding-left: 5px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #61b771;
}

.tasks__name {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
}

.themes__item {
    position: relative;
    padding-left: 15px;
}

.themes__item:not(:last-child) {
    border-bottom: 1px solid #61b771;
}

.themes__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: slategray;
}

.themes__name {
    position: relative;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
    color: #61b771;
}

.themes__name::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #61b771;
    transition: width .2s ease-in-out;
}

.themes__name:focus {
    outline: none;
}

.themes__name:focus::before {
    width: 100%;
}

.themes__item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.themes__descr {
    padding-left: 5px;
    border-left: 1px solid slategray;
}

.error {
    color: red;
}

.loading {
    display: flex;
    align-items: center;
}

.btn {
    font-weight: 700;
}

.btn:active {
    transform: scale(0.9);
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes arrival-left {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes arrival-right {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes arrival-bottom {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

@media (max-width: 460px) {
    .select {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .select:not(:last-child) {
        margin-right: 0;
    }

    .options__label {
        width: 100%;
    }

    .themes {
        padding-left: 15px;
    }

    .themes__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (hover: hover) {
    .options__btn:hover,
    .select__list:hover {
        box-shadow: 5px 3px 20px -5px rgba(0,0,0,0.67);
    }

    .themes__name:hover::before {
        width: 100%;
    }
}